body{
    background: rgba(105, 253, 105, 0.521);
    font: normal 15pt Arial;
    
}

header{
    color: #f5f5f5;
}

section {
    background: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px gray;
}

header {
    text-align: center;
    
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}

